.d-none-custom {
  display: none !important;
}
#drag-app {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 540px;
  width: 90%;
  margin: auto;
}
#drag-app svg {
  width: 6rem;
  height: 6rem;
  color: #6e1515;
}
.drag-files {
  background: #f3f0ff;
  border: 1px dashed #c1b2fa;
  border-radius: 8px;

  text-align: center;
  padding: 28px 0 32px;
  position: relative;
}
.drag-files input {
  all: unset;
  opacity: 0;
  inset: 0;
  position: absolute;
}
.drag-files.dragover {
  background: #ebe6ff;
}
#drag-app .container-files {
  margin-top: 20px;

  display: grid;
  gap: 12px;
}
#drag-app .box {
  padding: 8px;

  background: #ffffff;
  box-shadow: 0px 4px 16px #eae2fd;
  border-radius: 8px;
  border: none;

  width: 100%;
  height: 10rem;

  display: flex;
  gap: 12px;

  --icon-bg: #eee;
  --icon-color: #aaa;
  --progress-color: black;
  --progress-text: #999;

  position: relative;
}
#drag-app .btn-remove svg {
  width: 2rem;
  height: 2rem;
  color: var(--icon-color);
}
#drag-app .box .icon {
  background: var(--icon-bg);
  border-radius: 4px;

  padding: 16px 12px;

  display: flex;
}
#drag-app .box .info {
  flex: 1;
}
#drag-app .box .info .filename {
  font-size: 14px;
  font-weight: 700;
  color: #575361;
}
#drag-app .box .info .filesize {
  color: #857e95;
  font-weight: 500;
  font-size: 12px;
}
#drag-app .box .info .bar {
  display: flex;
  align-items: center;
  gap: 8px;

  line-height: 0;
  margin-top: 4px;
}
#drag-app .progressBar {
  flex: 1;
  /* -webkit-appearance: none; */
  width: 48%;
  position: absolute;
  height: 8px;
  border-radius: 999px;
  overflow: hidden;
}
#drag-app .progressBar {
  background: #e3e3ed;
}
#drag-app .progressBar {
  background: var(--progress-color);
}
#drag-app .box .info .bar span {
  font-size: 12px;
  font-weight: 500;
  color: var(--progress-text);
}
/*action*/
#drag-app .box .action {
  position: absolute;
  top: 8px;
  right: 8px;

  color: #6e1515;

  cursor: pointer;
}
#drag-app .done {
  --icon-bg: #daf2d9;
  --icon-color: #73b172;
  --progress-color: #73b172;
  --progress-text: #4e884d;
}
#drag-app .error {
  --icon-bg: #f2d9d9;
  --icon-color: #e36363;
  --progress-color: white;
  --progress-text: #e36363;
}
.box-leave {
  animation: leave 0.5s forwards;
}
#drag-app .description {
  text-align: center;
  color: #857e95;
  font-size: 1.4rem;
  width: 80%;
  margin: auto;
}
@keyframes leave {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(2rem);
  }
}
